################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SUDOKU/v15
/.vs/SudokuApp/v15
/.vs
/.Sudoku/SudokuApp/bin
/.Sudoku/SudokuApp/obj
